<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
    </head>
    <body>
         
        <div class="contenedor">
            
            <h1>Menú Principal</h1>
            <div class="botones">
            <a href="http://www.localhost:8080/usuario"><input type="button" value="USUARIO"></a>
            <a href="http://www.localhost:8080/profesion"><input type="button" value="PROFESION"></a>
        </div>
            </div>
        
    </body>
</html>
